@use 'base/mixins' as m;
@use 'base/variables' as v;

.acciones{
    @include m.telefono {
        display: flex;
        justify-content: space-between;
    }
    &__enlace{
        display: block;
        margin-bottom: 2rem;
        text-align: center;

    }
}