@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario-auth {
    margin: 10rem 2rem;
    background-color: rgb(233, 233, 233);
    border-radius: 1rem;
    &__titulo {
        font-size: 5rem;
        text-align: center;
        padding: 2rem;
        margin: 0;
    }
    &__descripcion {
        text-align: center;
        margin: 0;
    }
    &__campo{
        display: flex;
        padding: 3rem;
        flex-direction: column;
        &--label{
          margin: 1rem 0;  
        }
        &--input{
            padding: .4rem;
            border-radius: 1rem;
            background-color: v.$blanco;
            border-color: transparent;
        }
    }
    &__submit{
        @include m.boton(v.$azul, v.$blanco);
        border-radius: 1rem;
        width: auto;
        margin: 0 0 1rem 3rem;
    }
}