@use "base/mixins" as m;
@use "base/variables" as v;

.busqueda{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 55vh;
    top: 20vh;
    width: 80rem;
    height: 30rem;
    background-color:#00000028;
    
    border-radius: 1rem;
    &__input{
        margin: 2rem 0 0 2rem;
        width: 95%;
        height: 3rem;
        border: none;
        border-radius: 1rem;
    }
    &__resultados{
        margin: 2rem 0 0 2rem;
        height: 70%;
        width: 95%;
        margin-top: 2rem;
        background-color:#00000028;
        border-radius: 1rem;
    }
}

.mostrar{
    display: block;
}

.busqueda-resultado {
    margin: 2rem 2rem 0 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    &__imagen {
        border-radius: 50%;
        width: 4.8rem;
        height: 4.8rem;
        background-color: #0000000A;
    }
    &__nickname {
        margin-left: 1rem;
    }
    &__agregar{
        @include m.boton(v.$azul,v.$blanco);
        width: 7rem;
        border-radius: 5rem;
        height: 2.5rem;
        font-size: 1.2rem;
        line-height: 0rem;
        margin-left: auto;
        margin-right: 4rem;
        padding: 1rem;
    }
}