

.dashboard {
    position: fixed;
    background-color: #00000005;
    width: 8.5rem;
    height: 100vh; 

    &__campos {
        position: absolute;
        top: 8rem;
        left: 1.5rem;
        display: flex;
        flex-direction: column;

        .dashboard__campo {
            text-align: center;
            margin-bottom: 2rem;

            &-imagen {
                width: 2rem;
                margin: auto;
                position: relative;

                &--fondo {
                    opacity: 0;
                    z-index: -1;
                    position: absolute;
                    left: -100%;
                    width: 6rem;
                    height: 2.5rem;
                    background-color: #D9D9D9;
                    border-radius: .5rem;
                    transition: opacity 0.3s ease-in-out; 
                
                }
                &:hover .dashboard__campo-imagen--fondo {
                    opacity: 1;
                }
            }

            &--texto {
                margin: .5rem;
                font-size: 1.5rem;
            }
        }
    }
}
