@use "base/mixins" as m;
@use "base/variables" as v;

.contenedor-app{
    display: flex;
    gap: 5rem;
}


.amigos,
.chats-recientes{
    height: 40rem;
    background-color: #00000005;
    width: 34rem;
    border-radius: .6rem;
    &__texto,
    .amigo,
    .chat-reciente,
    &-imagen__busqueda{
        margin:1.5rem 0 0 1rem;
    }
    &-imagen__busqueda{
        width: 2.5rem;
        margin-right: 2rem;
        &:hover{
            cursor: pointer;
        }
    }
    &__texto{
        
    }
    &-contenedor-superior{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
}
.amigo,
.chat-reciente{
    display: flex;
    align-items: center;
    gap: 1rem;
    &__imagen {
        border-radius: 50%;
        width: 4.8rem;
        height: 4.8rem;
        background-color: #0000000A;
    }
    &__nombre{

    }
}
.amigos{
margin-top: 1.5rem;
}

.chats-recientes{
    margin-top: 4rem;
    height: 48rem;
}
.chat-reciente{
    background-color: #0000000A;
    border-radius: .5rem;
    width: 30rem;padding: .2rem;
}

.publicar{
    height: 12rem; 
    width: 65rem;
    background-color: #00000005;
    border-radius: .6rem;
    &__texto,
    &__input {
        margin:1.5rem 0 0 1rem;
    }
    &__input{
        display: flex;
        width: 95%;
        background-color: #0000000A;
        border-radius: 1rem;
        padding: .3rem;
    }
    &__imagen {
        border-radius: 50%;
        width: 4.8rem;
        height: 4.8rem;
        background-color: #0000000A;
    }
}

.publicaciones {
    height: 83%; 
    width: 65rem;
    background-color: #00000005;
    border-radius: .6rem;
    margin-top: 3rem;
}