@use "base/mixins" as m;
@use "base/variables" as v;

.notificaciones {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 55vh;
    top: 20vh;
    width: 80rem;
    height: 30rem;
    background-color:#00000028;
    
    border-radius: 1rem;

}