@use "base/mixins" as m;
@use "base/variables" as v;

.publicacion{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 55vh;
    top: 20vh;
    width: 80rem;
    height: 30rem;
    background-color:#00000028;
    border-radius: 1rem;
    &__texto,
    &__imagen,
    &__boton{
        margin: 2rem 0 0 2rem;
    }
    &__texto{
        width: 95%;
        height: 15rem;
        border: none;
        border-radius: 1rem;
        resize: none;
    }

    &__imagen{
        display: block;
    }
    &__boton{
        @include m.boton(v.$azul,v.$blanco);
        width: auto;
        border-radius: 1rem;
    }

}


